<!--Content3 입니다 방구하기-->
<div class=wholebox>
   
<img src="/assets/borrowcon.png">
  
 <div class="search">
    <%= form_tag content3s_searchindex_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], placeholder:"제목/내용으로 검색" %>
          <%= submit_tag "Search", :name => nil %>
    <% end %>
</div>
  
  <br>

     <table width = 90% class="table">
         
         <thead>
            <tr>
             <th width="5%", style="text-align:center">번호</th>
             <th width="5%", style="text-align:center">캠퍼스</th>
             <th width="60%", style="text-align:center">제목</th>
             <th width="15%", style="text-align:center">글쓴이</th>
             <th width="15%", style="text-align:center">숙박 희망 날짜</th>
            </tr>
         </thead>
         
         <tbody>
            <% @contentss.each do |content| %>
            <tr>
            <td width-" 5%"> <%= content.id %></td>
            <td width-" 5%"> <%= content.campus %></td>
            <td width="60%"><a href='<%= content3_path(content)%>'><%= content.title %></a></td>
            <td width="15%"><%= content.user.realname %>(<%= content.user.stringid %>)</td>
            <td width="15%"><% content3_path(content)%><%= content.date %></a></td>
             <!--#부모는 단수로 불러오고 자식은 복수로불러옴-->
            </tr>
            <%end%>
        </tbody>
        
     </table>
     <br>
       <%= link_to image_tag("/assets/newtext.png"), new_content3_path %>   
</div>
    

<center>
  <div class=pagination>
  <%= will_paginate @contentss%>
  </div>
</center>