<!--Content3 입니다 방구하기-->
<div class=wholebox>
<div class=show>
        <h3>
        글 제목: <%= @content.title %>
        </h3><br>
        
        <p><%=@content.campus %> 캠퍼스 <%=@content.gender %>학우</p>
        <p><%=@content.date %> 에 방을 구해요</p>
        <p>
            <%= simple_format(@content.body) %>
        </p>
                <% if can? :update, @content %>
                <td width="15%"><%= link_to image_tag("/assets/editbutton.png"), edit_content3_path(@content) %></td>
                <%end%>
                
                <% if can? :destroy, @content %>
                <td width="15%"><%= link_to image_tag("/assets/deletebutton.png"), content3_path(@content), method: :delete, 
                    data:{confirm:'정말 삭제하시겠습니까?'} %></td>
                <%end%>
    
</div>
<댓글 목록><br>


<% @content.comment3s.each do |comment| %>
    <% if @current_user == comment.user or @current_user == @content.user %>
    <%= comment.user.realname %>(<%= comment.user.stringid %>)님:
    <%= comment.body %>
    
        <!--</% if can? :update, comment %>-->
        <!--</%= link_to '글 수정하기', edit_content_comment_path(@content, @comment) %>-->
        <!--</%end%>-->
        
            <% if can? :destroy, comment %>
            <%= link_to image_tag("/assets/deletebutton.png"), [comment.content3, comment], method: :delete, 
                data:{confirm:'정말 삭제하시겠습니까?'} %>
            <% end %>
   
    <br>
    <% else %>
    비밀 댓글입니다. <br>
     <% end %>
<% end %>

<% if @current_user!=nil %>
<%= form_for [@content, Comment3.new] do |f|%>
    <%= f.text_area :body %>
<%= image_submit_tag("commentbutton.png") %>
<%end%>
<% end %>


 <%= link_to image_tag("/assets/listbutton.png"), content3s_path %>
 </div>