<div class=wholebox>
<img src="/assets/logincon.png"><br>
<%= flash[:alert] %>


<div class=box>
<%= form_tag sessions_path do %>
    
  

아이디 :     <%= text_field_tag :emailorid, nil, :placeholder=>"ID or Email", size:40 %><br><br>
비밀번호 :    <%= text_field_tag :password, nil, :placeholder=>"Password", size:40 %><br><br>
    
    <%= image_submit_tag("loginbutton.png") %> <br> <%=link_to image_tag("/assets/homebutton.png"), contents_path %>
<% end %>

</div>

</div>

<style>
    
    .box{
        
        align:center;
        
    }
</style>