<div class=wholebox>
   <h3>로그인하기</h3><br>
<%= flash[:alert] %>

<%= form_tag sessions_path do %>
    
  
    
    <%= text_field_tag :emailorid, nil, :placeholder=>"ID or Email", size:40 %><br><br>
    <%= text_field_tag :password, nil, :placeholder=>"Password", size:40 %><br><br>
    <%= submit_tag '로그인' %><br><br>
    <%=link_to '홈으로', contents_path %>
<% end %>

</div>