<h1>로그인하기</h1>
<%= flash[:alert] %>

<%= form_tag sessions_path do %>
    
    ID나 Email을 입력하세요.<br>
    
    ID or Email: <%= text_field_tag :emailorid%><br>
    Password: <%= text_field_tag :password%><br>
    <%= submit_tag '로그인하기' %><br>
    <%=link_to '홈으로', contents_path %>
<% end %>