<br><%= link_to '새 글 쓰기', new_content_path %><br><br>


<% @contents.each do |content| %>
    제목:<a href='<%= content_path(content)%>'><%= content.title %></a><br>
    글쓴이:<%= content.user.realname %>(<%= content.user.stringid %>)<br>
    <%= %>
    <!-- #부모는 단수로 불러오고 자식은 복수로불러옴-->
    
    <% if can? :update, content %>
    <%= link_to '글 수정하기', edit_content_path(content) %>
    <%end%>
    
    <% if can? :destroy, content %>
    <%= link_to '삭제하기', content_path(content), method: :delete, 
        data:{confirm:'정말 삭제하시겠습니까?'} %>
    <%end%>

    
    <br><br>
    
<%end%>