
    
<div class=wholebox>후기 작성
<br><h2>
    제목:<%= @content.title %>
</h2>

    <p>
    <%= simple_format(@content.body) %>
</p>


<br>
<% if @content.rate2s.blank? %>
아직 등록된 후기가 없습니다.
<% else %>
평점: <%= @content.rate2s.average(:rateinteger).round(2) %><br>
    <% if @content.rate2s.average(:rateinteger).round==1 %>
    <img class="stars" src="/assets/1.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==2 %>
    <img class="stars" src="/assets/2.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==3 %>
    <img class="stars" src="/assets/3.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==4 %>
    <img class="stars" src="/assets/4.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==5 %>
    <img class="stars" src="/assets/5.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==6 %>
    <img class="stars" src="/assets/6.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==7 %>
    <img class="stars" src="/assets/7.png">
    <% end %>

<%end%><br><br>

---------------후기----------------<br>

<% @content.rate2s.each do |rate| %>
    
    
    제목: <%= rate.title %><br>
    평가:
    <% if rate.rateinteger==1 %>
    <img class="stars" src="/assets/1.png">
    <% end %>
    <% if rate.rateinteger==2 %>
    <img class="stars" src="/assets/2.png">
    <% end %>
    <% if rate.rateinteger==3 %>
    <img class="stars" src="/assets/3.png">
    <% end %>
    <% if rate.rateinteger==4 %>
    <img class="stars" src="/assets/4.png">
    <% end %>
    <% if rate.rateinteger==5 %>
    <img class="stars" src="/assets/5.png">
    <% end %>
    <% if rate.rateinteger==6 %>
    <img class="stars" src="/assets/6.png">
    <% end %>
    <% if rate.rateinteger==7 %>
    <img class="stars" src="/assets/7.png">
    <% end %>
    <br>
    <%= rate.body %><br>
    글쓴이: <%= rate.user.realname %>(<%= rate.user.stringid %>)님<br>
    
    <% if can? :destroy, rate %>
    <%= link_to image_tag("/assets/deletebutton.png"), [rate.content, rate], method: :delete, 
        data:{confirm:'정말 삭제하시겠습니까?'} %>
    <%end%>
    <br><br>
<% end %>
<% if @current_user!=nil %>
<%= form_for Rate2.new, url: content_rate2s_path(content_id: @content.id) do |f|%>

    점수: <%= f.select :rateinteger, options_for_select({ "1점" => 1, "2점" => 2,"3점" => 3, "4점" => 4, "5점" => 5, "6점" => 6,"7점" => 7}) %> <br>
    <%= f.text_field :title %><br>
    <%= f.text_area :body %><br>
    <%= image_submit_tag("reviewbutton1.png")%>
<%end%>
<%end%>
<br>
<%=link_to image_tag("/assets/homebutton.png"), contents_path%>
</div>
    
