<!--Content입니다 방 올리기-->
    
<div class=wholebox><br>
        <div class=show>
                <h3>
                    글 제목: <%= @content.title %><br>
                </h3><hr style=weight:bold, color:black>
                <p> <%= @content.campus %>캠퍼스에 거주하는 <%= @content.gender %>학우입니다  </p>
                <P> <%= @content.date.strftime("%Y년 %m월 %d일부터 손님 맞을 준비가 되었습니다!") %> </P>
                <p> 샤워 <%= @content.shower %>하고, 에어컨은 사용 <%= @content.airconditioner %>하며, 세탁기 사용은 <%= @content.laundry %>합니다.</p>
                   <%= @content.body %>
                   <br><br>
                <div id= "room_image">
                <%= image_tag (@content.image_url), :class => "r_image"  %>
                </div>
                
    
        </div>

<br>
    <% if @content.rate2s.blank? %>
    <br>
    < 아직 등록된 후기가 없습니다. >
    <% else %>
    평점: <%= @content.rate2s.average(:rateinteger).round(2) %>
    
    <br>
    
    <% if @content.rate2s.average(:rateinteger).round==1 %>
    <img class="stars" src="/assets/1.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==2 %>
    <img class="stars" src="/assets/2.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==3 %>
    <img class="stars" src="/assets/3.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==4 %>
    <img class="stars" src="/assets/4.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==5 %>
    <img class="stars" src="/assets/5.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==6 %>
    <img class="stars" src="/assets/6.png">
    <% end %>
    <% if @content.rate2s.average(:rateinteger).round==7 %>
    <img class="stars" src="/assets/7.png">
    <% end %>
    <%end%>
    
<br><br>
<% if @current_user!=nil %>
<%= form_for [@content, Comment.new] do |f|%>
    <%= f.text_area :body%>
    <%= image_submit_tag ("commentbutton.png")%>
<%end%>
<% end %><br>


댓글 문의
    <table width = 90% class="table">
        <thead>
            <tr>
                 <th width="15%", style="text-align:center">글쓴이</th>
                 <th width="55%", style="text-align:center">내용</th>
            </tr>
        </thead>
        <tbody>
                <% @content.comments.each do |comment| %>
                <% if @current_user == comment.user or @current_user == @content.user %>
                <tr>
                    <td width="15%"><%= comment.user.realname %>(<%= comment.user.stringid %>)님</td>
                    <td width="55%"><%= comment.body %></td>
                    
                        <!--</% if can? :update, comment %>-->
                        <!--</%= link_to '글 수정하기', edit_content_comment_path(@content, @comment) %>-->
                        <!--</%end%>-->
                        
                    <% if can? :destroy, comment %>
                    <td width="15%"><%= link_to image_tag("/assets/deletebutton.png"), [comment.content, comment], method: :delete, 
                                data:{confirm:'정말 삭제하시겠습니까?'} %>
                    <% end %></td>
                
        
                    <% else %>
                    <td width="15%"></td>
                    <td width="55%">비밀 댓글입니다.
                     <% end %></td>
                </tr>
         </tbody>
        <% end %>
        </table>



<br>

 <%= link_to image_tag("/assets/reviewbutton.png"), rate2_path %><br><br>
 <%= link_to image_tag("/assets/listbutton.png"), contents_path %>
 <br><h2>

    
    </div>
<div class=wholebox>
    <input id="pac-input" class="controls" type="text"
        placeholder="Enter a location">
    <div id="map"></div>
    <div id="infowindow-content">
      <span id="place-name"  class="title"></span><br>
      Place ID <span id="place-id"></span><br>
      <span id="place-address"></span>
    </div>

    <script>
      // This sample uses the Place Autocomplete widget to allow the user to search
      // for and select a place. The sample then displays an info window containing
      // the place ID and other information about the place that the user has
      // selected.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13
        });

        var input = document.getElementById('pac-input');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }

          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);
          }

          // Set the position of the marker using the place ID and location.
          marker.setPlace({
            placeId: place.place_id,
            location: place.geometry.location
          });
          marker.setVisible(true);

          document.getElementById('place-name').textContent = place.name;
          document.getElementById('place-id').textContent = place.place_id;
          document.getElementById('place-address').textContent =
              place.formatted_address;
          infowindow.setContent(document.getElementById('infowindow-content'));
          infowindow.open(map, marker);
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvFt6owbM6BT37xfqeLicIqsMvSjyyOkQ&libraries=places&callback=initMap"
        async defer></script>
  </body>

</div>
