<div class=wholebox>
     <%= image_tag "freecon.png" %><br><br><br>

<%= form_for @content do |f| %>
    <%= f.text_field :title %><br>
    <%= f.text_area :body %><br>
    <%= f.submit %>
<%end%>
</div>