

<br><h2>
    제목:<%= @content.title %>
</h2>
<p>
    <%= simple_format(@content.body) %>
</p>

<br>
---------------댓글----------------<br>

<% @content.comment2s.each do |comment| %>
    <%= comment.user.realname %>(<%= comment.user.stringid %>)님: <%= comment.body %><br>
<% end %>

<%= form_for [@content, Comment2.new] do |f|%>
    <%= f.text_area :body %>
    <%= f.submit '등록하기'%>
<%end%>


 <%= link_to '후기 보기', content_rates_path %>
 <%= link_to '목록으로', content2s_path %>