<div class=wholebox>
<img src="/assets/signincon.png"><br>
<%= flash[:alert] %>
모든 항목을 입력하십시오.
<%= form_for @user do |f| %>
 <%= f.email_field :email, placeholder:"email",class:"signUpCss" %><br>
  <%= f.text_field :stringid, placeholder:"ID", size:25,class:"signUpCss"  %><br>
   <%= f.text_field :realname, placeholder:"이름", size:25,class:"signUpCss"  %><br>
  <%= f.password_field :password, placeholder:"비밀번호", size:25,class:"signUpCss"  %><br>
   <%= f.password_field :password_confirmation, placeholder:"비밀번호 확인", size:25,class:"signUpCss"  %><br>
<%= image_submit_tag("signinbutton.png") %>
<% end %>
</div>