<h1>회원가입</h1>
<%= flash[:alert] %>
모든 항목을 입력하십시오.
<%= form_for @user do |f| %>
    Email:<%= f.email_field :email %><br>
    ID:<%= f.text_field :stringid %><br>
    Your name:<%= f.text_field :realname %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation <%= f.password_field :password_confirmation %><br>
    <%= f.submit '회원가입하기' %>
<% end %>