<h1>회원가입</h1>
<%= flash[:alert] %>
모든 항목을 입력하십시오.
<%= form_for @user do |f| %>
    Email:<%= f.email_field :email, placeholder:"email" %><br>
    ID :<%= f.text_field :stringid, placeholder:"ID"  %><br>
    Your name:<%= f.text_field :realname, placeholder:"이름"  %><br>
    Password: <%= f.password_field :password, placeholder:"비밀번호"  %><br>
    Password Confirmation : <%= f.password_field :password_confirmation, placeholder:"비밀번호 확인"  %><br>
    <%= f.submit '회원가입하기' %>
<% end %>
