<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>SKKUBNB </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
    
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css">

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
</head>
<body>
  <div class = "wrap" style="width:80%; margin:auto; height:60px;">
    <a href="https://project1-tlatldms.c9users.io/contents/home"><img src="/assets/titlebar.png" width=100%></a>

    <!--<h1 id="mainname">SKKUBNB</h1>-->
   <% if current_user %>
    <ul>
      <li><%= link_to '홈', home_path %> </li>
      <li><%=current_user.realname%>(<%=current_user.email %>) 님 환영합니다! </li>
      <li style="float:right"><%= link_to '로그아웃', session_path(current_user.id), method: :delete %></li>
      <li style="float:right"><%= link_to '자유게시판',content2s_path  %></li>
      <li style="float:right"><%= link_to '방있어요',contents_path %> </li>
      <li style="float:right"><%= link_to '방구해요', content3s_path %> </li>
      <li><%= link_to '어드민권한', edit_user_path(current_user.id) %></li>
    </ul>
    <!--<#%= link_to '모더권한', update_user_path(current_user.id) %>-->
    <!--<#%= link_to '소시민으로 돌아가기', cow_user_path(current_user.id) %>-->
    <% else %>
    <!--#로그아웃, 로그인이 안됐을때 -->
    <ul>
      <li><%= link_to '홈', home_path %> </li>
      <li style="float:right; :hover background-color:white;"><%= link_to '자유게시판', content2s_path %></li>
      <li style="float:right"><%= link_to '방있어요', contents_path %> </li>
      <li style="float:right"><%= link_to '방구해요', content3s_path %> </li>
      <li style="float:right"><%= link_to '회원가입', new_user_path %></li>
      <li style="float:right">    <%= link_to '로그인', new_session_path %></li>
    </ul>
    <br>
    <% end %>
  <%= yield %>
  </div>
  
</body>



</html>


 <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 600px;
        position: relative;
        margin: auto;
        text-align:center;
        
        display:inline-block;
        
     
        
        
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
     
        margin: 0;
        padding: 0;
      }
      .controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 10%;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 65%;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }

</style>